{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 250,
  "objectWrap": "collapse",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "requirePragma": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "tailwindStylesheet": "./src/app.css"
}
