@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  /* Estoico (default) */
  :root[data-theme='stoic'] {
    --bg: #FCF1DB; /* gris oscuro neutro, rollo estoico e3ce8d*/
    --fg: #785D41; /* texto claro */
    --muted: #9ca3af; /* texto secundario */
    --accent: #e3c36f; /* dorado/ambar */
    --pillarFill: #f9fafb;
    --lines: #785D41; /* texto oscuro */
  }

  /* Tema claro */
  :root[data-theme='light'] {
    --bg: #f9fafb; /* gris muy claro */
    --fg: #111827; /* texto oscuro */
    --muted: #4b5563; /* gris medio para secundarios */
    --accent: #e3c36f; /* marrón/anaranjado */
    --pillarFill: #FFFFFF;
    --lines: #111827; /* texto oscuro */
  }

  /* Tema oscuro */
  :root[data-theme='dark'] {
    --bg: #020617; /* casi negro */
    --fg: #e5e7eb; /* texto claro */
    --muted: #9ca3af; /* gris medio */
    --accent: #9e8b44; /* naranja vivo */
    --pillarFill: #9ca3af;
    --lines: #9ca3af; /* texto oscuro */
  }
}
