@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  /* Estoico (default) */
  :root[data-theme='stoic'] {
    --bg: #FCF1DB;
    --fg: #785D41; /* texto claro */
    --muted: #BFB6A6; /* texto secundario */
    /* --accent: #e3c36f; dorado/ambar */
    --pillarFill: #F2F2F2;
    --lines: #785D41; /* texto oscuro #785D41 */
  }

  /* Tema claro */
  :root[data-theme='light'] {
    --bg: #f9fafb; /* gris muy claro */
    --fg: #111827; /* texto oscuro */
    --muted: #36394A; /* gris medio para secundarios */
    /* --accent: #e3c36f; marrón/anaranjado */
    --pillarFill: #FFFFFF;
    --lines: #785D41; /* texto oscuro */
  }

  /* Tema oscuro */
  :root[data-theme='dark'] {
    --bg: #020617; /* casi negro */
    --fg: #EDEDED; /* texto claro */
    --muted: #A3A3A3; /* gris medio */
    /* --accent: #9e8b44; naranja vivo */
    --pillarFill: #1F1F1F;
    --lines: #785D41; /* texto oscuro */
  }
}
